 
<div *ngIf="!grupa && !profile"  class="container">
<form [formGroup]="forma" (ngSubmit)="saveChanges()">
<table>
  <thead></thead>
  <tbody >
    <tr class="post-row">
        <td class="s" >
        	<div style="display: flex;align-items: center;position: relative;">
        	<div  style="width: 376px">
            <div class="post-content" style="overflow-wrap:break-word;width:300px">
                  	<textarea class="t" type="text" formControlName="post" placeholder="Text" name="post" required></textarea>
            </div>
            </div>
	</div>
	</td>
	</tr>
	<tr class="post-row" >
        <td >
          	<br>
     <div class="profile-photo" >
    <label for="profilePhoto">
      <span>Upload photo</span>
    </label>
    <input type="file" id="profilePhoto" accept="image/*" (change)="handleFileInput($event)" multiple>
  </div>
    <br>
    <div class="slika-container">
          <ng-container *ngFor="let imagePath of imagePathss; let i = index">
           <div class="slika-wrapper">
            <img class="slika" [src]="imagePath" alt="Slika">
            <button (click)="removeImage(i)" class="delete-button">&#10006;</button>
            </div>
          </ng-container>
        </div>
        </td>
      </tr>
      <tr><td>	<button class="dugmePostavi" type="submit">Post</button>
      </td>
      </tr>
	</tbody></table></form></div>
	
<!--  <div *ngIf="grupa && !profile" class="centered-container">
	<form [formGroup]="forma2" (ngSubmit)="onSubmitPostavi2()">
	<div class="container2">
  	<textarea class="t" type="text" formControlName="post" placeholder="Text" name="post" required></textarea>
  	<br>
      <input class="t" type="file" (change)="handleFileInput2($event)" accept="image/*" multiple>
    <br>
  	<button class="dugmePostavi" type="submit">Post in group</button>
  	<br>
	</div>
	</form>
	</div>-->
 
<div *ngIf="grupa && !profile"  class="centered-container">
<form [formGroup]="forma2" (ngSubmit)="saveChanges2()">
<table>
  <thead></thead>
  <tbody >
    <tr class="post-row">
        <td class="s" >
        	<div style="display: flex;align-items: center;position: relative;">
        	<div  style="width: 376px">
            <div class="post-content" style="overflow-wrap:break-word;width:300px">
                  	<textarea class="t" type="text" formControlName="post" placeholder="Text" name="post" required></textarea>
            </div>
            </div>
	</div>
	</td>
	</tr>
	<tr class="post-row" >
        <td >
          	<br>
     <div class="profile-photo" >
    <label for="profilePhoto2">
      <span>Upload photo</span>
    </label>
    <input type="file" id="profilePhoto2" accept="image/*" (change)="handleFileInput2($event)" multiple>
  </div>
    <br>
    <div class="slika-container">
          <ng-container *ngFor="let imagePath of imagePathss2; let i = index">
           <div class="slika-wrapper">
            <img class="slika" [src]="imagePath" alt="Slika">
            <button (click)="removeImage2(i)" class="delete-button">&#10006;</button>
            </div>
          </ng-container>
        </div>
        </td>
      </tr>
      <tr><td>	<button class="dugmePostavi" type="submit">Post in group</button>
      </td>
      </tr>
	</tbody></table></form></div>
	
<!--  	 <button class="dugme" style="margin-bottom:10px" (click)="praviGrupu()">Napravi grupu</button>
 <div *ngIf="createGroup" class="centered-container">
<form [formGroup]="form6" (ngSubmit)="napraviGrupu()">
<div  class="container">
  <textarea class="b" type="text" formControlName="name" placeholder="Ime grupe" name="name" required></textarea>
  <br>
  <textarea class="b" type="text" formControlName="description" placeholder="Opis grupe"  name="description" required></textarea> 
  <br>
  <button class="dugmePostavi2" type="submit">Kreiraj</button>
  <button class="dugme" (click)="cancel()">Odustani</button>
  <br>
</div>
</form></div> 
-->
	
<div *ngIf="posts && posts.length > 0">
  <label for="sortSelect" style="font-size:14px">Sort posts:</label>
  <select id="sortSelect" (change)="sortPosts($event.target.value)">
   	<option disabled selected>Select</option>
    <option value="new">Posted on date (most recent)</option>
    <option value="old">Posted on date (least recent)</option>
  </select>
</div>

<div class="container">
<table>
  <thead></thead>
  <tbody >
    <ng-container *ngFor="let post of posts; let i = index">
    <tr class="post-row">
        <td class="s" >
        	<div style="display: flex;align-items: center;position: relative;">
        	<div  style="width: 376px">
            <div class="user-info">
                <div class="avatar-container">
                    <img *ngIf="post.postedBy.profilePhoto" class="user-avatar1" [src]="post.postedBy.profilePhoto" alt="User Avatar">
		<!--		<img *ngIf="post.postedBy.profilePhotoUpload" [src]="retrievedImage(post.postedBy)" alt="Profile Photo">  -->
                	<img *ngIf="post.postedBy.profilePhotoUpload && retrievedImage2(post.postedBy)" class="user-avatar1" [src]="retrievedImage2(post.postedBy)" alt="Profile Photo">               	
                </div>
                <div class="comment-time">
	                <span class="username1">
	                <a [routerLink]="['/profile', post.postedBy.id]">{{ post.postedBy.displayName }}</a>
	                </span>
		            <p style="color: #888;margin:0px"> {{ formatTimestamp(post.creationDate) }}</p>
            	</div>
            	<div *ngIf="post.group" style="margin-left:40px">
            		<p style="margin:0px;font-size:12px"> Posted in group:</p>
            		<span style="font-size:13px" >
	                <a [routerLink]="['/group', post.group.id]">{{ post.group.name }}</a>
	                </span>
            	</div>
            </div>
            <div class="post-content" style="overflow-wrap:break-word;width:300px">
                {{ post.content }}
            </div>
            </div>
            <div class="comment-actions">
	        <div class="dropdown">
	          <i class="material-icons ellipsis-icon" (click)="togglePostDropdown({ id: post.id, type: 'post' })">more_vert</i>
	          <ul class="dropdown-content" *ngIf="postDropdownStatus[post.id]?.open && postDropdownStatus[post.id]?.type === 'post'">
	            <li *ngIf="your && currentUser == post.postedBy.id">
	              <a (click)="editPost(post); closePostDropdown(post.id)" class="edit-link">Edit</a>
	            </li>
	            <li *ngIf="your && currentUser == post.postedBy.id">
	              <a (click)="confirmDeletePost(post); closePostDropdown(post.id)" class="edit-link">Delete</a>
	            </li>
	            <li>
	              <a (click)="toggleReportMenu()" class="edit-link">Report post</a>
	              <div *ngIf="isReportMenuOpen" class="report-reasons-dropdown">
	                <ul class="report-reasons-list">
	                  <li *ngFor="let reason of reportReasons" (click)="selectReportReason(post, reason)">{{ reason }}</li>
	                </ul>
	              </div>
	            </li>
	          </ul>
	        </div>
	      </div>
	      </div>
        </td>
    </tr>
      <tr class="post-row" >
        <td >

		<div class="slika-container">
		  <ng-container *ngFor="let imageUrl of postImageCache.get(post.id); let i = index">
		    <div class="slika-wrapper">
		      <ng-container *ngIf="imageUrl.includes('data:image/jpeg;base64,')">
		        <!-- Slika sa picByte atributom -->
		        <img class="slika" [src]="imageUrl" alt="Image">
		      </ng-container>
		      <ng-container *ngIf="!imageUrl.includes('data:image/jpeg;base64,')">
		        <!-- Slika bez picByte atributa -->
		        <img class="slika" [src]="imageUrl" alt="Image">
		      </ng-container>
		    </div>
		  </ng-container>
		</div>
		        
        </td>
      </tr>
	<tr class="comment-row1">
    <td>
    	 <div class="reaction-icons">
		    <i class="material-icons" (click)="kreirajReakciju('LIKE', post.id, null)">thumb_up</i>
		     <span class="reaction-count">{{ post.likes }}</span>
		    <i class="material-icons" (click)="kreirajReakciju('DISLIKE', post.id, null)">thumb_down</i>
		     <span class="reaction-count">{{ post.dislikes }}</span>
		    <i class="material-icons" (click)="kreirajReakciju('HEART', post.id, null)" >favorite</i>
		     <span class="reaction-count">{{ post.hearts }}</span>
		</div>

        <a class="comment-toggle-link" (click)="toggleComments(post.id)" style="margin-top:8px">
            {{ post.commentsForPost ? 'Hide comments' : 'See comments' }}
        </a>
        	    </td>
	  </tr>
	  <tr *ngIf="post.commentsForPost && post.comments.length>0" class="comm">
	  <td style="padding-top:5px">
	  	<div style="text-align: right;margin-bottom:10px">
			  <select id="sortSelect" (change)="sortComments($event.target.value,post)">
			  	<option disabled selected>Sort comments</option>
			    <option value="likesO">Number of likes(Descending)</option>
			    <option value="likesR">Number of likes(Ascending)</option>
			    <option value="dislikesO">Number of dislikes(Descending)</option>
			    <option value="dislikesR">Number of dislikes(Ascending)</option>
			    <option value="heartsO">Number of hearts(Descending)</option>
			    <option value="heartsR">Number of hearts(Ascending)</option>
			    <option value="new">Date(Most recent)</option>
			    <option value="old">Date(Least recent)</option>
			  </select>
			</div>
        <div style="text-align: left" class="comment-container">
            <div *ngFor="let comment of post.comments">
            <div *ngIf="!comment.deleted">
                <div class="comment" >
                    <div style="margin-left:15px">
                        <img *ngIf="comment.userId.profilePhoto" class="user-avatar" [src]="comment.userId.profilePhoto" alt="User Avatar">
                        <img *ngIf="comment.userId.profilePhotoUpload && retrievedImage2(comment.userId)" class="user-avatar1" [src]="retrievedImage2(comment.userId)" alt="Profile Photo">               
                    </div>
                    <div class="comment-time" style="overflow-wrap:break-word;width:300px">
                        <span class="username">
                        <a [routerLink]="['/profile', comment.userId.id]">{{ comment.userId.displayName }}:</a>
                        </span>
                        {{ comment.text }}
                        <p style="color: #888;margin:0px"> {{ formatTimestamp(comment.timestamp) }}</p>
                    </div>	
                 <div class="comment-actions">
				    <div class="dropdown">
				        <i class="material-icons ellipsis-icon" (click)="toggleCommentDropdown({ id: comment.id, type: 'comment' })">more_vert</i>
				        <ul  class="dropdown-content" *ngIf="commentDropdownStatus[comment.id]?.open && commentDropdownStatus[comment.id]?.type === 'comment'">
				            <li *ngIf="currentUser==comment.userId.id">
				                <a (click)="editComment(post,comment);closeCommentDropdown(comment.id)" class="edit-link">Edit</a>
				            </li>
				            <li *ngIf="currentUser==comment.userId.id">
				                <a (click)="confirmDeleteComment(post,comment);closeCommentDropdown(comment.id)" class="edit-link">Delete</a>
				            </li>
				            <li>
				                <a (click)="toggleReportMenu2()" class="edit-link">Report</a>
				            	<div *ngIf="isReportMenuOpen2" class="report-reasons-dropdown">
							        <ul class="report-reasons-list">
							          <li *ngFor="let reason of reportReasons" (click)="selectReportReason2(comment,reason)">{{ reason }}</li>
							        </ul>
							      </div>
				            </li>
				        </ul>
				    </div>
				</div>

                </div>
                
              <div class="actions"> 
              	<div class="reaction-icons2">
					    <i class="material-icons" (click)="kreirajReakciju2('LIKE', null, comment.id)">thumb_up</i>
					    <span class="reaction-count">{{ comment.likes }}</span>
					    <i class="material-icons" (click)="kreirajReakciju2('DISLIKE', null, comment.id)">thumb_down</i>
					    <span class="reaction-count">{{ comment.dislikes }}</span>
					    <i class="material-icons" (click)="kreirajReakciju2('HEART', null, comment.id)">favorite</i>
						<span class="reaction-count">{{ comment.hearts }}</span>
					</div>

              
              
			  <div style="padding:0px;margin:0px">
			    <input type="text" style="font-size:12px" [formControl]="replyFormControl" placeholder="Reply">
			    <button (click)="addReply(comment.id,post.id)" style="font-size:12px">Reply</button>
			  </div>
			   
                </div> 
                
                <div class="replies">
                    <a class="comment-toggle-link" (click)="toggleReplies(comment)">
                        {{ comment.showReplies ? 'Hide replies' : 'See replies' }}
                    </a>
                    <div *ngIf="comment.showReplies">
                        <div *ngFor="let reply of comment.repliesComment" >
                        <div *ngIf="!reply.deleted">
                        <div class="comment" >
                            <div>
                                <img *ngIf="reply.userId.profilePhoto" class="user-avatar" [src]="reply.userId.profilePhoto" alt="User Avatar">
                                <img *ngIf="reply.userId.profilePhotoUpload && retrievedImage2(reply.userId)" class="user-avatar1" [src]="retrievedImage2(reply.userId)" alt="Profile Photo">
                            </div>
                            <div class="comment-time" style="overflow-wrap:break-word;width:250px">
                                <span class="username">
                                <a [routerLink]="['/profile', reply.userId.id]">{{ reply.userId.displayName }}:</a>
                                </span>
                                {{ reply.text }}
                                <br>
                                <p style="color: #888;margin:0px"> {{ formatTimestamp(reply.timestamp) }}</p>
	                            </div>
	                             <div class="comment-actions2">
								    <div class="dropdown">
								        <i class="material-icons ellipsis-icon" (click)="toggleCommentDropdown({ id: reply.id, type: 'comment' })">more_vert</i>
								        <ul  class="dropdown-content" *ngIf="commentDropdownStatus[reply.id]?.open && commentDropdownStatus[reply.id]?.type === 'comment'">
								            <li *ngIf="currentUser==reply.userId.id">
								                <a (click)="editComment2(post,comment,reply);closeCommentDropdown(reply.id)" class="edit-link">Edit</a>
								            </li>
								            <li *ngIf="currentUser==reply.userId.id">
								                <a (click)="confirmDeleteComment2(post,comment,reply);closeCommentDropdown(reply.id)" class="edit-link">Delete</a>
								            </li>
								              <li>
								                <a (click)="toggleReportMenu2()" class="edit-link">Report</a>
								            	<div *ngIf="isReportMenuOpen2" class="report-reasons-dropdown">
											        <ul class="report-reasons-list">
											          <li *ngFor="let reason of reportReasons" (click)="selectReportReason2(reply,reason)">{{ reason }}</li>
											        </ul>
											      </div>
								            </li>
								        </ul>
								    </div>
								</div>

	                            </div>
	                  <div class="actions">       
	                           <div class="reaction-icons2">
								    <i class="material-icons" (click)="kreirajReakciju3('LIKE', null, reply.id)">thumb_up</i>
								     <span class="reaction-count">{{reply.likes }}</span>
								    <i class="material-icons" (click)="kreirajReakciju3('DISLIKE', null,reply.id)">thumb_down</i>
								     <span class="reaction-count">{{ reply.dislikes }}</span>
								    <i class="material-icons" (click)="kreirajReakciju3('HEART', null, reply.id)">favorite</i>
								     <span class="reaction-count">{{ reply.hearts }}</span>
								</div>        
	                           
					  <div style="padding:0px">
					    <input type="text" style="font-size:12px" [formControl]="replyFormControl2" placeholder="Reply">
					    <button (click)="addReply2(reply.id,post.id)" style="font-size:12px">Reply</button>
					  </div>
					  
					  </div>  
	                             <ng-container >
				                 <a style="margin-left:20px;border-left: 1px solid #ccc;padding-left: 10px;" class="comment-toggle-link" (click)="toggleReplies(reply)">
			                        {{ reply.showReplies ? 'Hide replies' : 'See replies' }}
			                    </a>
				                <div *ngIf="reply.repliesComment && reply.repliesComment.length > 0 && reply.showReplies" class="reply-level">
				                    <app-comment-list [comments]="reply.repliesComment" [parentPost]="post" [currentUser]="currentUser"></app-comment-list>
				                </div>
				            </ng-container>
	                        </div>
	                    </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	        </div>
	    </td>
	  </tr>

      <tr class="comment-row" style="padding:0px">
        <td class="comment-cell" style="padding:0px;margin:0px">
          <input type="text" [formControl]="commentFormControl" placeholder="Add comment">
          <button (click)="addComment(post.id)">Add comment</button>
        </td>
      </tr>
      
      <tr>
      <td style="padding:0px">
      	<div *ngIf="editingComment && selectedPostForEditing === post">
		    <form [formGroup]="editCommentForm" (ngSubmit)="saveEditedComment()">
		        <label class="edit-label" for="text">Edit comment:</label>
		        <textarea id="text" formControlName="text"></textarea>
		        <div style="display:block">
		        <button style="margin-right:5px" type="submit">Submit</button>
		        <button type="button" (click)="cancelEdit()">Cancel</button>
		        </div>
		    </form>
		</div>
		<div *ngIf="editingComment2 && selectedPostForEditing2 === post">
		    <form [formGroup]="editCommentForm2" (ngSubmit)="saveEditedComment2()" >
		        <label for="text" class="edit-label" >Edit comment:</label>
		        <textarea id="text" formControlName="text"></textarea>
		        <div style="display:block">
		        <button style="margin-right:5px" type="submit" >Submit</button>
		        <button type="button" (click)="cancelEdit2()">Cancel</button>
		        </div>
		    </form>
		</div>
<!-- 		<div *ngIf="editingPostDiv && selectedPostForEditing === post" id="edit-form">
			<div class="containerPost" >
			    <form (ngSubmit)="onSubmitEdit()" [formGroup]="editPostForm">
			        <label for="cont_i" name="cont_f">Content</label>
			        <br>
			        <textarea id="cont_i" type="text" formControlName="content" required></textarea>
			        <br>
			        <label for="path_i" name="path_f">Paths of images</label>
			      <br>
			   <textarea type="text" formControlName="images" name="images" required></textarea>
			        <br>
			        <button type="submit">Save</button>
			        <button type="button" (click)="cancelEdit3()">Cancel</button>
			    </form>
			</div>
			</div>  -->
<div *ngIf="editingPostDiv && selectedPostForEditing === post" id="edit-form" class="container" style="padding:0px">
	<form [formGroup]="editPostForm" (ngSubmit)="saveChanges3()">
	<table>
	  <thead></thead>
	  <tbody >
	    <tr class="post-row">
	        <td class="s" >
	        	<div style="display: flex;align-items: center;position: relative;">
        	<div  style="width: 376px">
            <div class="post-content" style="overflow-wrap:break-word;width:300px">
                  	<textarea class="t" type="text" formControlName="content" placeholder="Text" name="post" required></textarea>
            </div>
            </div>
	</div>
	</td>
	</tr>
	<tr class="post-row" >
        <td >
          	<br>
     <div class="profile-photo" >
    <label for="profilePhoto3">
      <span>Change photos</span>
    </label>
    <input type="file" id="profilePhoto3" accept="image/*" (change)="handleFileInput3($event)" multiple>
  </div>
    <br>
    <div class="slika-container">
          <ng-container *ngFor="let imagePath of imagePathss3; let i = index">
           <div class="slika-wrapper">
            <img class="slika" [src]="imagePath" alt="Slika">
            <button (click)="removeImage3(i)" class="delete-button">&#10006;</button>
            </div>
          </ng-container>
        </div>
        </td>
      </tr>
      <tr><td>	<button class="dugmePostavi" type="submit">Submit</button>
      <button type="button" class="dugmePostavi" (click)="cancelEdit3()">Cancel</button>
      </td>
      </tr>
	</tbody></table></form></div>
			
			
			
      </td>
      </tr>
      <tr style="height:30px">
      </tr>
    </ng-container>
    
  </tbody>
</table>

</div>
