
<div class="container3" >
      <div class="row">
          <div class="col">
          <div class="scroll">
    <table style="font-size:14px;width:300px;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let group of groups" >
                <td class="tooltip"(click)="handleGroupClick(group)" style="word-wrap: break-word;max-width: 100px">
                {{group.name}}<span class="tooltiptext">Vidi objave</span></td>
                <td style="word-wrap: break-word;max-width: 100px">{{group.description}}</td>
                <td *ngIf="group.groupAdmin.id==currentUser" style="max-width: 100px">
                    <button (click)="deleteGroup(group.id)">delete</button>
                    <button (click)="editGroup(group.id, group.name, group.description)">edit</button>
                </td>
            </tr>
            
        </tbody>
    </table>
    </div>
<div *ngIf="editing" class="containerEdit">
    <form (ngSubmit)="onSubmit()" [formGroup]="form" style="margin-top: 20px;">
        <label for="name_i" name="name_f">Name</label>
        <br>
        <textarea id="name_i" type="text" formControlName="name" required></textarea>
        <br>
        <label for="desc_i" name="desc_f">Description</label>
        <br>
        <textarea id="desc_i" type="text" formControlName="description" required></textarea>
        <br>
        <button type="submit">Save</button>
    </form>
</div>
    
</div>
      </div>
      
</div>

		 <button class="dugme" style="margin-bottom:10px" (click)="praviGrupu()">Napravi grupu</button>
 <div *ngIf="createGroup" class="centered-container">
<form [formGroup]="form6" (ngSubmit)="napraviGrupu()">
<div  class="container2">
  <textarea class="b" type="text" formControlName="name" placeholder="Name of the group" name="name" required></textarea>
  <br>
  <textarea class="b" type="text" formControlName="description" placeholder="Description"  name="description" required></textarea> 
  <br>
  <button class="dugmePostavi2" type="submit">Kreiraj</button>
  <button class="dugme" (click)="cancel()">Odustani</button>
  <br>
</div>
</form></div>
<!-- 
<div *ngIf="chosedGroup" class="centered-container">
	<form [formGroup]="forma" (ngSubmit)="onSubmitPostavi()">
	<div class="container2">
  	<textarea class="t" type="text" formControlName="post" placeholder="Text" name="post" required></textarea>
  	<br>
  	<textarea class="t" type="text" formControlName="pathSlike" placeholder="Image path"  name="pathSlike" required></textarea> 
  	<br>
  	<button class="dugmePostavi" type="submit">Post</button>
  	<br>
	</div>
	</form>
	</div>
 -->	
<div *ngIf="chosedGroup" class="col">
	<h1>{{group.name}}</h1>
	<div class="container3">
	<div class="scroll">
 <table style="font-size:14px;width:300px;">
    <thead>
      <tr>
        <th colspan="4">Members</th>
      </tr>
      <tr>
      <th>Display Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let member of group.members">
        <td style="word-wrap: break-word;max-width: 100px">
        <a [routerLink]="['/profile', member.id]">{{ member.displayName }}</a>
        </td>
		<td style="word-wrap: break-word;max-width: 100px">{{ member.email }}</td>
        <td style="max-width: 100px">
          <!-- Dodajte ovde akcije za korisnike -->
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
      <app-allPost-list [posts]="postList"  [grupa]="group"></app-allPost-list>
</div>	


