:host {
    position: relative;
    z-index: 10;
    color: #fff;
  }
  
  .app-navbar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .app-navbar span {
    text-transform: uppercase !important;
  }
  
  .right {
    margin-left: auto;
    float: right;
  }
  
  .app-angular-logo {
    margin: 0 4px 3px 0;
    height: 26px;
  }
  
  .greeting-hamburger {
    display: none;
  }


.search-results {
  background-color: #fff; 
  border: 1px solid #ccc; 
  padding: 5px;
  position: absolute; 
  z-index: 1000;
  margin-top:-15px;
}

.search-results ul {
  list-style-type: none;
  padding: 0;
  width:170px;
  margin:0px;
}

.search-results li {
  margin: 0px;
  color:black;
  font-size:14px;
}
  
  
  