/* user-profile.component.css */

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.profile-header {
  text-align: left;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.profile-name {
  font-size: 24px;
  margin: 5px 0;
}

.profile-username {
  font-size: 18px;
  color: #888;
  margin: 5px 0;
}

.profile-actions {
  margin-top: 20px;
}
.dugme {
  background-color: #673ab7;
  margin: 10px;
  color: white;
  font-size: 15px;
  text-align: center; 
  padding: 5px 10px; 
  border-radius: 3px;
  cursor: pointer;  
}

.btn-send-request {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-send-request:hover {
  background-color: #0056b3;
}

.friends-button {
  background-color: #4CAF50; 
  color: white; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px; 
  cursor: pointer; 
  display: flex; 
  align-items: center; 
  width: 126px;
  padding-left: 30px;
}
.dugme2 {
  background-color: #673ab7;
  margin:10px;
  color: white;
  font-size: 14px;
  text-align: center; 
  padding: 5px 20px; 
  border-radius: 3px;
}

.friends-checkmark {
  margin-left: 5px; 
  font-size: 20px; 
  line-height: 1; 
}

.friends-button:hover {
  background-color: #45a049; 
}
.container3 {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 400px;
  margin: 30px auto;
  text-align:center
}

.scroll{
  overflow-y: auto;
  max-height:300px;
}
.profile-header img {
  width: 150px; 
  height: 150px; 
  border-radius: 50%;
  margin-left:10px;
  margin-top:10px
}

table {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 8px;
  }
  th{
      font-weight: 100;
      }

  input, label{
    margin: 10px;
  }
  input{
    width: 100px;
  }
  textarea{
    width: 300px;
    height: 100px;
  }
 tr{
 text-align:center
 }
  .right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
} 
 