<!-- user-profile.component.html -->

<div class="user-profile">
<button *ngIf="!isHim && user" class="dugme2" name="Report" (click)="reportuj(selectedReason)">Reportuj</button>
	 <div *ngIf="!isHim && user" style="margin:15px">
  <label for="reportSelect" >Odaberite razlog prijave:</label>
  <select id="reportSelect" [(ngModel)]="selectedReason" >
    <option value="BREAKES_RULES">Kršenje pravila</option>
    <option value="HARASSMENT">Zlostavljanje</option>
    <option value="HATE">Mržnja</option>
    <option value="SHARING_PERSONAL_INFORMATION">Deljenje ličnih informacija</option>
    <option value="IMPERSONATION">Uzurpacija</option>
    <option value="COPYRIGHT_VIOLATION">Kršenje autorskih prava</option>
    <option value="TRADEMARK_VIOLATION">Kršenje zaštitnog znaka</option>
    <option value="SPAM">Spam</option>
    <option value="SELF_HARM_OR_SUICIDE">Samopovređivanje ili samoubistvo</option>
    <option value="OTHER">Drugo</option>
    </select>
	</div>
  <div class="profile-header" *ngIf="user">
    <img *ngIf="user.profilePhoto" src="{{ user.profilePhoto }}" alt="Slika korisnika" class="profile-image">
    <img *ngIf="user.profilePhotoUpload || retrievedImage2" [src]="retrievedImage2" alt="Profile Photo">
    <h2 class="profile-name">{{ user.firstName }} {{ user.lastName }}</h2>
    <p class="profile-username">Username: {{ user.username }}</p>
    <p class="profile-username">Display Name: {{ user.displayName }}</p>
    <p class="profile-username">Email: {{ user.email }}</p>
    <p class="profile-username">Description: {{ user.description }}</p>
    <p class="profile-username">Last login: {{ formatTimestamp(user.lastLogin) }}</p>
  </div>

  <div *ngIf="user" class="profile-actions">
        <button *ngIf="!isFriend && !isHim && !isRequestGot" class="dugme" (click)="posaljiZahtevZaPrijateljstvo()">
         {{ isRequestSent ? 'Request sent' : 'Send request' }}</button>
         
         <div *ngIf="!isFriend && !isHim && isRequestGot">
	        <button (click)="approveRequest()" class="dugme accept-button">
	            {{ 'Accept' }}
	        </button>
	
	        <button (click)="rejectRequest()" class="dugme decline-button">
	            {{ 'Decline' }}
	        </button>
	    </div>
         
        <button *ngIf="isFriend && !isHim" class="dugme friends-button">
	      {{ 'Friends' }} <span class="friends-checkmark">&#10003;</span>
	    </button>
         
	    <button *ngIf="isFriend && !isHim" class="dugme" (click)="ukloniIzPrijatelja()">
	      {{ 'Remove Friend' }}
	    </button>
	    
          <button *ngIf="admin && !banned" class="dugme" (click)="suspend(null,user)">Block</button>
          <button *ngIf="admin && banned" class="dugme" style="background-color::rgb(237 68 64)" (click)="suspend(null,user)">You banned this user</button>
          
  </div>
<div class="container3" *ngIf="user">
    <div class="scroll"  >
    <table style="font-size:14px;width:300px;" >
        <thead>
        	<tr>
        	<th colspan="2">Groups that user is in</th>
        	</tr>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let group of groups" style="text-align: center" >
                <td class="tooltip" style="word-wrap: break-word;max-width: 100px">
                <a [routerLink]="['/group', group.id]">{{group.name}}</a></td>
                <td style="word-wrap: break-word;max-width: 100px">{{group.description}}</td>
            </tr>
            
        </tbody>
    </table>
    </div>
    </div>
    <div class="container3" *ngIf="isFriend || isHim">
            <app-allPost-list [posts]="postList" [profile]="profile"></app-allPost-list>
        </div>
</div>
